.contact_banner {
    position: relative;
    img {
        width: 100%;
        height: 35%;
    }

    &__block {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: black;
        color: white;
        transform: translate(-50%, -50%);
        padding-left: 20px;
        padding-right: 20px;
      }
}

.red {
    color: maroon;
    font-size: 18px;
    font-weight: bold;
}

.form_enquiry {
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1200px;

    &__text__block {
        margin: auto;
        text-align: left;  
        width: 450px; 
        padding: 20px;
        input {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid rgb(96, 119, 96);  
            border-radius: 5px;          
        }
        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            border: 1px solid rgb(96, 119, 96);  
            border-radius: 5px;          
        }
    }
}

.contact-button {    
    text-align: center;
    button{
        background-color: rgb(96, 119, 96);
        color: white;
        font-weight: bold;
        width: 100%;
        height:40px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 550px) { //Mobile

    .form_enquiry {
        margin:auto;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 375px;
    
        &__text__block {
            margin: auto;
            text-align: left;  
            width: 350px;
            padding: 5px;
        }
    }
}