.footer {
    display: grid;
    justify-content: center; 
    font-weight: bold;

    &__image {
        height: 100px;
        width: 100px;   
        vertical-align: top;     
    }
    &__social-icons {
        display: flex;
        width: 150px;
        justify-content: space-around;
        padding: 5px 0;
    }
    &--sub {      
        font-size: small;
        font-weight: lighter;
        padding: 5px 0;
     }
}


@media screen and (min-width: 768px) { 

    .footer {
        margin:20px 100px 30px 100px;
        grid-template-columns: 150px 600px;  
    
        &__mobile {
            display:none;
        }   
    
        &__topics {
            display: flex;
            justify-content: space-evenly;
        }   
    }
}

@media screen and (max-width: 550px) {
    .footer {
        margin:20px 20px 20px 20px;
        grid-template-columns: 1fr 1fr;

        &__mobile {
            display:block;
        }

        &__info {
            display: flex;
            align-items: center;
        }

        &__topics {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        &--sub {      
           display: none;
        }    
    }
}