
.container {
    text-align: center;
    //padding: 10px;
   &__line {
        margin: auto;
        margin-top: 10px;
        height: 1px;        
        background-color: black;
   }
}

.plants {
    display: grid;
    justify-content: center;

    &__img {
        text-align: center;
    }
}

@media screen and (min-width: 768px) { 

    .container {    
        &__line {
            width: 1200px;
        }
    }
    
    .plants {
        
        margin:20px 100px 20px 100px;
        grid-template-columns: 1fr 1fr 1fr;
    
        img {
            height:300px;
            width: 300px;        
        }  

        &__block {
            height: 350px;
            width:350px;
            text-align: center;
        }    

        &--desc {
            color: rgb( 86,84,84,1);        
        }

        &--price {
            margin-top: 10px;
            color: rgb(137,166,133,1);        
        }

        &__mobile {
            display:none;
        }
    }
}


@media screen and (max-width: 550px) {

    .container {
       &__line {
            width: 350px;
       }
    }

    .plants {

        grid-template-columns: 1fr 1fr;
        width:auto;
        padding: 10px;

        img {
            height:150px;
            width: 150px;
        }        

        &__mobile {
            padding: 10px;
            position: relative;
            background-color: rgb(156, 186, 187);
            font-size: 12px;
            text-align: center;

            &__box {
                border: 1px solid black;
                line-height: 1.5;
                height:auto;                
                background-color: transparent;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &--desc {
            display:none;       
        }
        &--price {
            display:none;       
        }
    }
}