@media screen and (min-width: 768px) {
  nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
  }

  .nav_desktop {
    display: flex;
    align-items: center;
  }

  .nav_mobile {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  nav {
    position: absolute;
    left: 30px;
    top: 30px;
  }

  .nav__line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .nav_desktop {
    display: none;
  }
}