* {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto;
  }

  .nav_desktop {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .nav_mobile {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  nav {
    position: absolute;
    left: 30px;
    top: 30px;
  }

  .nav__line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .nav_desktop {
    display: none;
  }
}
.banner img {
  width: 100%;
}

.container {
  text-align: center;
}
.container__line {
  margin: auto;
  margin-top: 10px;
  height: 1px;
  background-color: black;
}

.plants {
  display: grid;
  justify-content: center;
}
.plants__img {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container__line {
    width: 1200px;
  }

  .plants {
    margin: 20px 100px 20px 100px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .plants img {
    height: 300px;
    width: 300px;
  }
  .plants__block {
    height: 350px;
    width: 350px;
    text-align: center;
  }
  .plants--desc {
    color: #565454;
  }
  .plants--price {
    margin-top: 10px;
    color: #89a685;
  }
  .plants__mobile {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .container__line {
    width: 350px;
  }

  .plants {
    grid-template-columns: 1fr 1fr;
    width: auto;
    padding: 10px;
  }
  .plants img {
    height: 150px;
    width: 150px;
  }
  .plants__mobile {
    padding: 10px;
    position: relative;
    background-color: #9cbabb;
    font-size: 12px;
    text-align: center;
  }
  .plants__mobile__box {
    border: 1px solid black;
    line-height: 1.5;
    height: auto;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .plants--desc {
    display: none;
  }
  .plants--price {
    display: none;
  }
}
.pots {
  display: grid;
  justify-content: center;
}
.pots__img {
  text-align: center;
}
.pots__img:hover {
  transform: scale(1.5, 1.5);
}
.pots--desc {
  color: #565454;
}
.pots--price {
  margin-top: 10px;
  color: #89a685;
}

@media screen and (min-width: 768px) {
  .pots {
    margin: 20px 100px 20px 100px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pots img {
    height: 300px;
    width: 300px;
  }
  .pots__block {
    height: 350px;
    width: 350px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .pots {
    grid-template-columns: 1fr 1fr;
    width: auto;
    padding: 10px;
  }
  .pots img {
    height: 150px;
    width: 150px;
  }
  .pots--desc {
    margin: auto;
    text-align: center;
  }
  .pots--price {
    margin: auto;
    text-align: center;
  }
}
.contact_banner {
  position: relative;
}
.contact_banner img {
  width: 100%;
  height: 35%;
}
.contact_banner__block {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  color: white;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  padding-right: 20px;
}

.red {
  color: maroon;
  font-size: 18px;
  font-weight: bold;
}

.form_enquiry {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1200px;
}
.form_enquiry__text__block {
  margin: auto;
  text-align: left;
  width: 450px;
  padding: 20px;
}
.form_enquiry__text__block input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #607760;
  border-radius: 5px;
}
.form_enquiry__text__block textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #607760;
  border-radius: 5px;
}

.contact-button {
  text-align: center;
}
.contact-button button {
  background-color: #607760;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 550px) {
  .form_enquiry {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 375px;
  }
  .form_enquiry__text__block {
    margin: auto;
    text-align: left;
    width: 350px;
    padding: 5px;
  }
}
.footer {
  display: grid;
  justify-content: center;
  font-weight: bold;
}
.footer__image {
  height: 100px;
  width: 100px;
  vertical-align: top;
}
.footer__social-icons {
  display: flex;
  width: 150px;
  justify-content: space-around;
  padding: 5px 0;
}
.footer--sub {
  font-size: small;
  font-weight: lighter;
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 20px 100px 30px 100px;
    grid-template-columns: 150px 600px;
  }
  .footer__mobile {
    display: none;
  }
  .footer__topics {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    margin: 20px 20px 20px 20px;
    grid-template-columns: 1fr 1fr;
  }
  .footer__mobile {
    display: block;
  }
  .footer__info {
    display: flex;
    align-items: center;
  }
  .footer__topics {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer--sub {
    display: none;
  }
}
button {
  height: 25px;
  width: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f0e9e9;
  border: 0;
}

A {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
  }

  .login {
    position: absolute;
    right: 100px;
    top: 30px;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 75px;
  }

  h1 {
    font-size: 15px;
    text-align: center;
  }

  .login {
    position: absolute;
    right: 20px;
    top: 40px;
  }
}